.partners-logo {
    align-content: stretch;
    overflow: hidden;
    object-fit: contain;
    width: 100%;
    height: 250px;
}

@media (min-width: 1200px) {
    .partners-logo {
        overflow: hidden;
        object-fit: contain;
        width: 100%;
        height: 150px;
    }
}

.bg-1 {
    background-image: url(/img/fondo-gris-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.quitar-fondo {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.about-us h2{
    font-size: 3rem;
}

.about-us h3{
    font-size: 2rem;
    font-weight: 400;
}
