
/*--------Portada-geneo--------*/

.contenedor1{
    display: flex;
    text-align: center;
}

.banner-oxypods{
    width: 100vw;
    height: 35vh;
    overflow: hidden;
}

.banner-img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.banner-title{
    position:absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: 300;
    color: rgb(253, 255, 255);
}

.geneo-p{
    padding-top: 60px;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
}

.geneo-p img{
    width: 340px;
    padding-top: 60px;
}

.blq-geneo{
    padding: 20px 20px;
}

.bloque-geneo-1-img img {
    background-size: cover;
    height: 90%;
}

.bloque-geneo-1-img{
    padding-top: 20px;
    width: 40vw;
    overflow: hidden;
    max-height: 100%;
}

.bloque-geneo-1{
    text-align: left;
    line-height: 3rem;
}

.bloque-geneo-1 span{
    margin: 42px 14px 0;;
}

.bloque-geneo-1 h3{
    margin: 8px auto 0 14px;
}

.bloque-geneo-1 p{
margin: 28px 28px 28px 28px;
}

.blq-2{
    background-color: rgb(245, 243, 244);
}
