.form-section{
    background-color: rgb(245, 243, 244);
    font-weight: 500;
    color: whitesmoke;
}

.form-title{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 2rem;
    color: black;
}

.form-container{
    background-color:rgb(83, 88, 95);
    padding: 20px 20px;
    border-radius: 20px;
    max-width: 350px;
    min-width: 150px;
    margin: 0px 20px;
    margin-bottom: 80px;
}

.form-label{
    font-size: 0.7rem;
}

.form-control{
    font-size: 0.6rem;
}

.form-check{
    font-size: 0.7rem;
}